<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="SQLSomee" connectionString="workstation id=PostOfficeManagement.mssql.somee.com;packet size=4096;user id=Ramayana_SQLLogin_1;pwd=irh272iclx;data source=PostOfficeManagement.mssql.somee.com;persist security info=False;initial catalog=PostOfficeManagement"
         providerName="System.Data.SqlClient"/>
    <add name="SQLLocal" connectionString="server=localhost; database=OPMS; uid=sa; pwd=123456"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
